// $backgroundColor: #ffffff;
// $bodyColor: #000000;
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: monospace;
}

#navbar {
  ul {
    list-style: none;
  }
  li {
    display: inline-flex;
    font-family: monospace;
  }
}